[commandline]
# sequence_file=./trial/1000M4/R0/true_unalign_fragged.txt
sequence_file=./trial/1000M4/R0/unaligned_frag_interleaved.txt
alignment=./trial/1000M4/R0/pasta_backbone_align.txt
tree=./trial/1000M4/R0/pasta_backbone.tre
backboneSize=500
alignmentSize=10
molecule=dna
cpu=10
tempdir=./tmp/
outdir=./output/

[upp2]
decomp_only=True
bitscore_adjust=True
hier_upp=True
early_stop = False
